<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>Telxt</title>
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--navbar menu-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="./sms_manager.apk" target="_blank" class="navbar-brand pull-right">
                <img src="img/ic_android_black_48dp_1x.png" title="下载APP" alt="下载APP" id="download-app">
            </a>
        </div>
    </div>
</nav>

<!--login form-->
<div class="container" id="app-main">
    <link v-if="logged_in === 0" rel="stylesheet" href="css/login.css">

    <div v-if="logged_in === 0" class="form" id="login-form">

        <ul class="tab-group">
            <li class="tab" v-bind:class="register_active"><a v-on:click.prevent="register_view">注册</a></li>
            <li class="tab" v-bind:class="login_active"><a v-on:click.prevent="login_view">登录</a></li>
        </ul>

        <div v-if="error" class="panel panel-danger">
            <div class="panel-heading">{{ error_text }}</div>
        </div>

        <div v-if="info" class="panel panel-info">
            <div class="panel-heading">{{ info_text }}</div>
        </div>

        <div class="tab-content">
            <div v-if="view == 'login'" id="login">
                <h1>欢迎回来！</h1>
                <form v-on:submit.prevent>
                    <div class="field-wrap">
                        <label>
                            电邮<span class="req">*</span>
                        </label>
                        <input v-model="email" name="email" type="text" required title="格式错误，请确认" autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            密码<span class="req">*</span>
                        </label>
                        <input v-model="pswd" name="password" type="password" required title="格式错误，请确认"
                               autocomplete="off"/>
                    </div>

                    <a class="pull-right forgot btn btn-link" v-on:click="resetPassword">找回密码</a>
                    <button class="button button-block" v-on:click="login">登录</button>
                </form>
            </div>
            <div v-if="view == 'register'" id="signup">
                <h1>第一次使用？</h1>
                <form v-on:submit.prevent>
                    <div class="field-wrap">
                        <label>
                            电邮<span class="req">*</span>
                        </label>
                        <input v-model="email" name="email" type="text" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            密码<span class="req">*</span>
                        </label>
                        <input v-model="pswd" name="password" type="password" required autocomplete="off"/>
                    </div>

                    <button class="button button-block" v-on:click="register">马上注册</button>
                </form>
            </div>
        </div><!-- tab-content -->

    </div> <!-- /form -->

    <!--message page-->
    <table v-if="logged_in === 1" class="table table-bordered table-condensed table-hover">
        <tbody>
        <tr>
            <th>当前账号</th>
            <td>{{ email }}</td>
            <td class="button-container">
                <button class="btn-block btn btn-danger" v-on:click="logout">退出登录</button>
            </td>
        </tr>
        <tr>
            <th style="width: 1px;white-space: nowrap;">绑定手机(UUID)</th>
            <td>
                <span v-if="!has_uuids">请选择或添加绑定手机</span>
                <select class="form-control" v-model="uuid" v-if="has_uuids">
                    <option v-for="uuid in uuids" v-bind:value="uuid">{{ uuid }}</option>
                </select>
            </td>
            <td class="button-container">
                <button class="btn btn-default btn-block" v-on:click="editPairing">更改</button>
            </td>
        </tr>
        <tr>
            <th>数据更新时间</th>
            <td colspan="2">{{ last_update }}</td>
        </tr>
        </tbody>
    </table>
    <table v-if="logged_in === 1" class="table table-bordered" id="message-table">
        <thead>
        <tr>
            <th>来自</th>
            <th>消息内容</th>
            <th>卡槽</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="message in messages">
            <td>{{ message.sender }}</td>
            <td class="wrap">{{ message.message_body }}</td>
            <td>{{ message.slot }}</td>
            <td>{{ timestampToString(message.timestamp) }}</td>
        </tr>
        </tbody>
    </table>

    <!--Edit pairing-->
    <div class="modal" style="display: block;" v-if="pairing_editing" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" v-on:click="editPairing">&times;</button>
                    <h4 class="modal-title">更改绑定的手机设备</h4>
                </div>
                <div class="modal-body">
                    <div v-if="error" class="panel panel-danger">
                        <div class="panel-heading">{{ error_text }}</div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="4">设备列表</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="uuid in uuids">
                            <td></td>
                            <td colspan="2">{{ uuid }}</td>
                        </tr>
                        <tr v-if="!pairing_verifying">
                            <td>添加设备</td>
                            <td>
                                <input placeholder="请输入四位绑定码" type="text" class="form-control" maxlength="4"
                                       v-model="pairing_code">
                            </td>
                            <td style="width: 1px;">
                                <button type="button" class="submit btn btn-link" v-on:click="verifyCode">验证并添加</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div v-if="pairing_verifying" class="loader"></div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="logged_in === -1" class="overlay">
        <div class="loader"></div>
    </div>
</div>
<script src="https://cdn.wilddog.com/sdk/js/2.5.2/wilddog.js"></script>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>