*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #F0F0F0;
}

a {
    text-decoration: none;
    color: #b11a1a;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #CF000A;
}

.form {
    background: #f8f8f8;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #b1b1b1;
    color: #efefef;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #CF000A;
    color: #ffffff;
}

.tab-group .active a {
    background: #b11a1a;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #8e0000;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: #5f5f5f;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    width: 100%;
    padding-right: 18px;
    text-align: right;
}

label .req {
    color: #b11a1a;
    float: left;
    position: absolute;
    top: -23px;
    left: -12px;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

.form input, .form textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #b39d9d;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #b11a1a;
}

textarea {
    border: 2px solid #b3a5a7;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #b11a1a;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #CF000A;
}

.button:disabled {
    background: #808080;
    color: #B0B0B0;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    color: #b11a1a !important;
}

.panel-heading, .panel {
    border-radius: 0;
}

