.container {
    margin-top: 10vh;
}

body {
    background-color: #fafafa;
}

.loader {
    border: 3px solid #888888;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

td, th {
    text-align: left !important;
    vertical-align: middle !important;
}



img#download-app {
    height: 45px;
    margin-top: -13px;
}

.button-container {
    width: 100px;
}